<div class="cover-container d-flex flex-column">

  <h1 class="cover-heading"> Hello world.</h1>
  <h2 class="lead">
    My name is Shahzada Azam Shahani. I'm a <%= @x %>
  </h2>
  <!-- <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %> -->
</div>
